@charset "UTF-8";

body {
	position: absolute;
  	top: 175%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-family: 'Gowun Dodum', sans-serif;
}

#logo {
	font-size: 70px;
	text-align: center;
	font-family: 'Comforter Brush', cursive;
}

#member {
	display: table;
	margin-top: -10px;
	margin-bottom: 10px;
}

.loginid {
	width: 200px;
    float: left;
    margin-left: 606px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.login {
	margin-top: 20px;
}

.login, .logout {
	width: 70px;
    font-size: 17px;
    padding: 5px;
    border: 1px solid #adadad;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #adadad;
    text-align: center;
    float: left;
    margin-left: 680px;
}

.login:hover {
	width: 70px;
	font-size: 17px;
	padding: 5px;
	border: 1px solid white;
	background-color: #808ecf;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.logout:hover {
	width: 70px;
	font-size: 17px;
	padding: 5px;
	border: 1px solid white;
	color: white;
	background-color: #808ecf;
	border-radius: 5px;
	cursor: pointer;
}


#tabs {
	width: 100%;
	height: 403px;
	padding-top: 20px;
	display: table;
}

.tabs-Title {
	font-size: 50px;
	margin-left: 15px;
	float: left;
}

.tabs1, .tabs2, .tabs3, .tabs4 {
	width: 244px;
    height: 309px;
    float: left;
    margin: 11px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px #adadad;
}

.scale {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.5s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}

.scale:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}

#tabs img {
	position: absolute;
    width: 250px;
    object-fit: fill;
}

#tabs img:hover {
	cursor: pointer;
}

#tabs .tabsTitle {
	position: absolute;
	font-size: 50px;
	color: white;
	padding: 10px;
	margin-left: 10px;
}

#tabs .tabsSub {
	position: absolute;
    color: white;
    font-size: 30px;
    margin-top: 80px;
    margin-left: 20px;
    font-weight: bold;
}

#header2 {
	height: 210px;
	display: table;
	margin-top: 20px;
}

#header2:hover {
	cursor: pointer;
}

#header2 .bookmark, .question {
	height: 210px;
	float: left;
}

#header2 img{
	height: 200px;
    width: 500px;
    margin-left: 21px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 1px 1px 8px 1px #adadad;
}

#header2 .text {
	font-size: 40px;
    text-align: center;
    margin-top: -136px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
}

#box {
	padding-top: 30px;
	padding-bottom: 5px;
}

#box .boxTitle {
	font-size: 30px;
	padding-left: 10px;
	padding-top: 10px;
}

#container1, #container2, #container3, #container4 {
	width: 1078px;
}

.box1, .box2, .box3, .box4 {
	padding-top: 10px;
	padding-bottom: 20px;
}

.box1, .box3 {
	background-color: #f5f5f5;
	border-radius: 10px;
}

.placeBox {
	width: 240px;
	height: 240px;
	border: 1px solid #adadad;
	border-radius: 10px;
	margin: 10px;
	overflow: hidden;
	box-shadow: 1px 1px 5px -2px #adadad;
}

.placeBox:hover {
	transform: translateY(-3%);
	transition: all 0.5s ease;
	box-shadow: 2px 2px 5px 0px #adadad;
}

.placeBox .imgBox {
	width: 240px;
	height: 180px;
	position: relative;
}

.placeBox .imgBox .thumbnail {
	width: 250px;
	height: 180px;
	position: absolute;
}

.placeBox .imgBox .heart {
	width: 35px;
    position: absolute;
    margin-left: 255px;
    margin-top: 10px;
    filter: invert(100%);
}

.placeBox .title {
	font-size: 18px;
	padding: 10px;
}

.placeBox .addr {
	font-size: 13px;
	padding-left: 10px;
}

.placeBox .title:hover {
	cursor: pointer;
}

.placeBox .addr:hover {
	cursor: pointer;
}

#login_admin .login_icon {
	width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    opacity: 50%;
    cursor: pointer;
}

#footer {
	height: 110px;
	font-size: 15px;
	color: #adadad;
	text-align: center;
}