@charset "UTF-8";

body {
	position: absolute;
  	top: 110%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-family: 'Gowun Dodum', sans-serif;
}

#logo {
	font-size: 70px;
	text-align: center;
	font-family: 'Comforter Brush', cursive;
}

#logo:hover {
	cursor: pointer;
}

#header {
	width: 1200px;
	height: 300px;
	position: relative;
}

#header img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	position: absolute;
}

#header .title {
	font-size: 70px;
    color: white;
    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
    font-weight: bold;
}

#location {
	height: 150px;
	padding: 20px;
	margin-left: 20px;
	margin-bottom: 120px;
}

#location .title {
	font-size: 50px;
	margin-bottom: 15px;
}

.btn_city {
	margin: 7px;
	width: 120px;
	height: 50px;
	background-color: #e7e7e7;
	color: gray;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
  	display: inline-block;
  	border: none;
  	border-radius: 5px;
  	font-family: 'Gowun Dodum', sans-serif;
}

.btn_city:hover {
	background-color: white;
	border: 2px solid #e7e7e7;
	color: gray;
	border-radius: 5px;
	box-shadow: 1px 1px 5px -2px #adadad;
}

#container {
	width: 1100px;
	height: 620px;
	display: table;
	margin-left: 40px;
	display: table;
}

#container .btn_left, .btn_right {
	float: left;
}

#container .btn_left>img {
	width: 60px;
    height: 60px;
    margin-top: 270px;
    margin-left: -65px;
    filter: opacity(0.5);
}

#container .btn_right>img {
	width: 60px;
	height: 60px;
	margin-top: 270px;
	margin-left: 1095px;
	filter: opacity(0.5);
}

#container .btn_left:hover {
	cursor: pointer;
}

#container .btn_right:hover {
	cursor: pointer;
}

#container .list {
	position: absolute;
}

.placeBox {
	width: 250px;
	height: 280px;
	border: 1px solid #adadad;
	border-radius: 10px;
	margin: 10px;
	overflow: hidden;
	box-shadow: 1px 1px 5px -2px #adadad;
	float: left;
}

.placeBox .imgBox {
	width: 250px;
	height: 180px;
	position: relative;
}

.placeBox .imgBox .thumbnail {
	width: 250px;
	height: 180px;
	position: absolute;
}

.placeBox .imgBox .heart {
	width: 35px;
	height: 35px;
    position: absolute;
    margin-left: 205px;
    margin-top: 10px;
    filter: invert(1);
    z-index: 5;
}

.placeBox .title {
	font-size: 18px;
	padding: 10px;
}

.placeBox .addr {
	font-size: 13px;
	padding-left: 10px;
}

.placeBox .title:hover {
	cursor: pointer;
}

.placeBox .addr:hover {
	cursor: pointer;
}

#page {
	color: gray;
	display: table;
	margin-left: 530px;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 20px;
	font-family: 'Gowun Dodum', sans-serif;
}

#page #pageNo, #allPage {
	float: left;
}

#footer {
	height: 110px;
	font-size: 15px;
	color: #adadad;
	text-align: center;
}
